<nav>
 <input type="checkbox" id="nav-toggle"/>
 <label for="nav-toggle" id="nav-hamburger">
  <i class="material-icons">menu</i>
 </label>
 <a href="/index.html">Vampire</a>
 <a href="/news.html">News</a>
 <a href="/download.html">Download</a>
 <a href="/licence.html">Licence</a>
 <a href="/usage.html">Usage</a>
 <a href="/team.html">Team</a>
 <a href="/pubs.html">Publications</a>
 <a href="/history.html">History</a>
 <a href="/trophies.html">Trophies</a>
 <a href="/projects.html">Projects</a>
</nav>
